.rating {
	position: relative;

	white-space: nowrap;

	line-height: 1;
}

.rating-error svg {
	stroke: var(--red-bright);
}

.star svg {
	margin-right: 5px;
}

.filled svg {
	fill: var(--primary);
}

.editable {
	cursor: pointer;
}

.error {
	position: absolute;
	bottom: -25px;
	left: 0;

	color: var(--red-bright);
}
