.top-page-wrapper {
	margin-bottom: 50px;
}

.header {
	display: grid;
	grid-template-columns: auto 1fr auto;

	align-items: baseline;
	justify-items: left;
	gap: 10px 20px;

	margin-bottom: 20px;
}

.hh-header {
	display: grid;
	grid-template-columns: auto 1fr;

	align-items: baseline;
	justify-items: left;
	gap: 20px;
}

.seo-text {
	margin-top: 30px;

	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
}

.seo-text h1 {
	font-size: 26px;
	font-weight: 500;
	line-height: 35px;
}

.seo-text h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

.seo-text h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

@media (max-width: 1200px) {
	.header {
		grid-template-columns: auto 1fr;
	}
}
