.menu-first-level {
	display: grid;

	align-items: center;

	margin-bottom: 20px;

	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.menu-first-level-active,
.menu-first-level:hover {
	color: var(--primary);
}

.menu-first-level-active svg,
.menu-first-level:hover svg {
	fill: var(--primary);
}

.menu-first-level-block {
	margin-left: 12px;
	padding-left: 32px;

	border-left: 1px solid var(--grey-mid-light);
}

.menu-second-level {
	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--grey-dark);

	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
}

.menu-second-level-active,
.menu-second-level:hover {
	color: var(--black);
}

.menu-third-level {
	display: block;

	margin-bottom: 10px;

	color: var(--grey-dark);

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
}

.menu-third-level-active,
.menu-third-level:hover {
	color: var(--primary);
}
