html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--background);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.hidden-element {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--background: #F5F6F8;
	--black: #3B434E;
	--grey-dark: #6C7077;
	--grey: #69748A;
	--grey-mid-light: #DFDFDF;
	--grey-light: #EBEBEB;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #4E2DC4;
	--red: #FC836D;
	--red-bright: #DE0000;
	--green: #1DC37E;
	--green-text: #027B49;
	--green-light: #C8F8E4;
	--blue: #F9F8FF;
	--font-family: "Noto Sans Display", sans-serif;
}
